.git
.cache
.benchmarks
.venv
build
dist
tests
site
output
docs
examples
*.audiobooker
*.wav
*.mp3
*.m4a
*.m4b
.polyglot-cache.json
audiobooker_ai.egg-info
.github
node_modules
__pycache__
.pytest_cache
.ruff_cache
